# Archivos ofimaticos y documentos binarios
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.pdf


# Variantes comunes adicionales
*.odt
*.ods
*.odp
*.rtf

# Archivos temporales de Office
~$*

# Carpetas temporales de drive uploads/downloads
.tmp.driveupload/
tmp.drivedownload/

# Archivos de configuración de multimedia
*.mp3
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.fl

# Archivos de imagen
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.tiff

# Archivos de audio
*.mp3
*.wav

# Archivos de las instalaciones de nodejs, tanto en la carpeta principal como en las carpetas de los multi repositorios
node_modules
*/node_modules